*{
    margin:0%;
    padding:0%;
}
.menu{
    height: 20px;
    background-color: brown;
    padding: 5px;
    text-align: center;
    color: white;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu a:active {
    text-decoration: none;
    color: white;
}